/* Portfolio Page Styles */
.portfolio-header {
    padding-top: 3rem;
}
  
.t_border {
    width: 50%;
}
  
.portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
}
  
.portfolio-image {
    width: 100%;
    transition: transform 0.5s ease;
}
  
.portfolio-item-wrapper:hover .portfolio-image {
    transform: scale(1.1);
}
  
.portfolio-item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.portfolio-item-wrapper:hover .portfolio-item-content {
    opacity: 1;
}
  